@charset "utf-8";
/* CSS Document */
html {
  font-family: sans-serif, Arial, Segoe, Verdana; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
	font-weight: lighter;
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}


#clcNeko{
	height: 40px;
}
.Startext {
	font-size: 40px;
	line-height: 80px;
}

td {
	align-content: center;
}

.content {
	position:absolute;
	top: 50%;
	height: 600px;
	margin-top: -300px;
	left:50%;
	width: 500px;
	margin-left: -250px;
}


a {
	background: #222222;
    color: #ACACAC;
}

a :hover {
    
    background: #000000;
    color: #FFFFFF;
}
